/*  Geurt Dijker  checked 20170719*/
/* ok */
.button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 6px;
    padding: 1px 1px;
    cursor: pointer;
}

/* ok */
.panel-button {
  margin-top: 0px !important;
}

/* Messages */
body {
  position: relative;
}

/* logging popout dialog */
.popout-dialog .modal-dialog {
  width: 440px;
}

#filterSearch {
  background-image: url('../filtericon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 12px;
  padding: 10px 20px 10px 40px;
  border: 1px solid #ddd;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}
